@import url('components2.css');



.home-category .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 27rem);
   gap:10rem;
   justify-content: center;
   align-items: flex-start;
}

.home-category .box-container .box{
   padding:2rem;
   text-align: center;
   height: 450px;
   width: 350px;
   /* border:var(--border); */
   background-color:var(--black);
   box-shadow: 1px 1px 1px rgba(228, 173, 195, 0.804);;
   border-radius: 1rem;

}

.home-category .box-container .box img{
   width: 100%;
   height: 200px;
   margin-bottom: 1rem;
}

.home-category .box-container .box h3{
   text-transform: uppercase;
   color:var(--white);
   padding:1rem 0;
   font-size: 2rem;
}

.home-category .box-container .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--white);
   padding:.5rem 0;
}

.home-category{
   padding-bottom: 0;
}






@media (max-width:450px){

   .home-category .box-container{
      grid-template-columns: 1fr;
   }

 

}